@model IEnumerable<mobile_experience_MVC.Models.StageAEEvent>

@{
    ViewBag.Title = "My Events";
}

    <div class="row">
        <div class="span8">
            <div class="page-header">
                <h1>Events I'm Attending</h1>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Venue</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Artist)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.Time)</td>
                        <td>@Html.DisplayFor(modelItem => item.Venue)</td>
                        <td><a href="#" class="btn btn-primary" onclick="modalArtist('@item.Artist');showModal()">
                            View Ticket</a></td>
                    </tr>
                    }
                </tbody>
            </table>
            <img src="@Url.Content("~/content/img/share-on-facebook.png")" />
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Ticket</h3>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                hideModal();
            });

            var showModal = function (e) {
                $('#myModal').modal('show');
            };
            var hideModal = function (e) {
                $('#myModal').modal('hide');
            };
            var modalArtist = function (artistName) {
                $('#artist').text(artistName);
            };
        </script>
        <div class="modal-body">
            <p>Your ticket for event: <span id="artist">Rihanna</span></p>
            <div class="thumbnail">
                <img src="@Url.Content("~/content/img/rihanna-qr-code.png")" alt="" />
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" onclick="hideModal()">Close</a>
        </div>
    </div>